@import com.guizmaii.zio.htmx.domain.{LoggedUser, User}
@import com.guizmaii.zio.htmx.ui.Toast

@(toast: Toast = Toast.None)(loggedUser: Option[LoggedUser] = None)(searchValue: Option[String] = None, users: Option[List[User]] = None)

@main(toast) {
    <h1>Hello @loggedUser.map(_.firstName).getOrElse("htmx")</h1>

    <sl-button hx-get="/names" hx-swap="outerHTML">Show names</sl-button>
    <sl-button href="/blog" hx-boost="true">Blog</sl-button>
    <sl-button href="/auth/sign-in">Sign in</sl-button>
    <sl-button href="/auth/sign-out">Sign out</sl-button>
    <sl-button href="/profile">Profile</sl-button>
    <sl-button href="/toast">Toast</sl-button>
    @* Reproducing https://htmx.org/examples/active-search/ example *@
    <h3>
        Search Contacts
        <span class="htmx-indicator">Searching...</span>
    </h3>
    <input
    class="form-control"
    type="search"
    name="search"
    placeholder="Begin Typing To Search Users..."
        @for(s <- searchValue) {
            value="@s"
        }
    hx-get="/"
    hx-trigger="keyup changed delay:300ms, search"
    hx-target="#search-results"
    hx-indicator=".htmx-indicator"
    hx-push-url="true"
    >

    <table class="table">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody id="search-results">
        @for(v <- users) {
            @partials.html.users_table_body(v)
        }
        </tbody>
    </table>
}